#board-container{
    height: 85vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

#jeopardy-board{
    width: 75vw;
    background-color: rgb(14, 10, 241);
    display: flex;
    flex-wrap: wrap;
    height: 100%;
    padding: 2px;
}

.cat-col{
    height: 100%;
    display: flex;
    flex-direction: column;
}

.tile.category{
    border-bottom: 5px solid black;
}

.tile{
    position: relative;
    height: 20%;
    width: 16%;
    text-align: center;
    background-color: rgb(14, 10, 241);
    flex-grow: 1;
    border: 3px solid black;
}
